{% extends "base.html" %} {% block content %}
<div class="container">
  <h1>SkillSwap Requests</h1>
  <p>View all learning requests sent by users.</p>

  {% if requests %} {% for request in requests %}
  <div class="profile-card">
    <p><strong>Requester:</strong> {{ request.requester_name }}</p>
    <p><strong>Request To:</strong> {{ request.profile_name }}</p>
    <p><strong>Skill Offered by Profile:</strong> {{ request.teach_skill }}</p>
    <p><strong>Message:</strong> {{ request.message }}</p>
    <p>
      <strong>Status:</strong>
      <span class="status {{ request.status|lower }}">
        {{ request.status }}
      </span>
    </p>

    {% if request.status == "Pending" %}
    <form
      method="POST"
      action="{{ url_for('update_request_status', request_id=request.id, new_status='Accepted') }}"
      class="inline-form"
    >
      <button type="submit" class="accept-btn">Accept</button>
    </form>

    <form
      method="POST"
      action="{{ url_for('update_request_status', request_id=request.id, new_status='Rejected') }}"
      class="inline-form"
    >
      <button type="submit" class="reject-btn">Reject</button>
    </form>
    {% endif %}
  </div>
  {% endfor %} {% else %}
  <p>No requests found yet.</p>
  {% endif %}
</div>
{% endblock %}
